<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="./js/app1.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>about page</h1>
    {{>header}}
    <div>
    
    <img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" alt="my image">

    </div>
    {{>footer}}
</body>
</html>